.card-img {
    width: 70px;
    height: auto;
}


.cardContenido{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.nombre{
    font-size: 14px;
}

.card{
    align-items: center; 
}

h2 {
    text-align: center;
    font-size: 60px;
}

a {
    text-decoration: none; /* Quita el subrayado */
    padding-top: 5px;
}

h3 {
    text-align: center;
    font-size: 40px;
}