<div class="d-flex justify-content-center align-items-center mt-4 mb-4 mx-5">
    <div class="">
        <label for="search" class="form-label text-white">Nombre:</label>
        <input type="text" class="form-control" id="search" placeholder="Buscar...">
    </div>
    <div id="Filtro-home">
        <label for="search" class="form-label text-white">Tipo:</label>
        <select class="form-select">
            <option>Todos</option>
            <option>Curación PS</option>
            <option>Curación PP</option>
            <option>Reducción EVs</option>
            <option>Reducción daño</option>
            <option> Pokecubos</option>
            <option>Aumento características</option>
            <option>Mejora captura</option>
            <option> Otros </option>
        </select>
    </div>
    <div id="Filtro-home">
        <label for="search" class="form-label text-white">Ordenar por:</label>
        <select class="form-select">
            <option>Número inferior</option>
            <option>Número superior</option>
        </select>
    </div>
</div>

<div class="container mt-4">
    <table class="table table-dark table-striped">

            <div class="row bg-dark">
                <div class="col-1">Id</div>
                <div class="col-1">Baya</div>
                <div class="col-2">Nombre</div>
                <div class="col-8">Efecto</div>
            </div>
            @for(item of berryList; track getBerryId(item.url)) {
                <app-berry-item-list [berryId]="getBerryId(item.url)">
                  
                </app-berry-item-list>
                }

    </table>
    <br><br>
</div>