

<div class="container mt-4">
    <table class="table table-dark table-striped">

            <div class="row bg-dark">
                <div class="col-1">Id</div>
                <div class="col-1">Baya</div>
                <div class="col-2">Nombre</div>
                <div class="col-8">Efecto</div>
            </div>
            @for(item of berryList; track getBerryId(item.url)) {
                <app-berry-item-list [berryId]="getBerryId(item.url)">
                  
                </app-berry-item-list>
                }

    </table>
    <br><br>
</div>