.berry-container {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
}
.berry-image {
    max-width: 100%;
 
}
.berry-flavor-table {
    display: flex;
}
.flavor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444;
    padding: 10px;
    width: 75px;
    color: white;
}
