
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="row justify-content-between align-items-center mb-4">
            <div class="col-md-3 text-start">
                <a [routerLink]="['/berries', convertToNumber(berryId!) - 1]" class="btn btn-outline-light btn-lg d-flex align-items-center justify-content-start">
                    <i class="bi bi-arrow-left-circle"></i>
                    <span class="ms-2"> Anterior </span>
                </a>
            </div>

            <div class="col-md-3 text-end">
                <a [routerLink]="['/berries', convertToNumber(berryId!) + 1]" class="btn btn-outline-light btn-lg d-flex align-items-center justify-content-end">
                    <span class="me-2"> Siguiente </span>
                    <i class="bi bi-arrow-right-circle"></i>
                </a>
            </div>
        </div>
        
        <div class="col-md-7 mx-auto">
            <h1 class="mb-3 text-center text-capitalize text-white">{{berry?.name}} <small> - N.º {{berry?.id}}</small></h1>
            <div class="d-flex align-items-center">
                <div class="pkm-card col-md-4 mt-5">
                    <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/'+ berry!.name +'-berry.png'" alt="{{berry?.name}}" class="pkm-img text-white" style="max-width: 100%;">
                </div>
                <div class="col-md-8 mx-5">
                    <div class="row pokemon-details p-3 d-flex mt-5">
                            <div class="col-md-6">
                                <ul class="list-unstyled text-white d-flex">
                                    <li class="mx-4"><strong>Tamaño:</strong> {{berry!.size}}</li>
                                    <li class="mx-5"><strong>Dureza:</strong> {{berry!.firmness.name}}</li>
                                    <li class="mx-5"><strong>Consistencia: </strong> {{berry!.smoothness}}</li>
                                </ul>
                            </div>
                    </div>

                    
                    <div class="mt-3">
                        <h5>Efecto</h5>
                        <div class="row pokemon-details p-3 ">
                            <p>  {{berryItem!.effect_entries[0].effect}} </p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 mt-3">
                            <h5>Sabor</h5>
                            <div class="berry-flavor-table d-flex">
                                <div class="flavor" style="background-color: #e74c3c;">
                                    <strong>Picante</strong>
                                    <span class="d-flex">{{berry!.flavors[0].potency}}</span>
                                </div>
                                <div class="flavor" style="background-color: #3498db;">
                                    <strong>Seco</strong>
                                    <span class="d-flex">{{berry!.flavors[0].potency}}</span>
                                </div>
                                <div class="flavor" style="background-color: #f1c40f;">
                                    <strong>Dulce</strong>
                                    <span class="d-flex">{{berry!.flavors[2].potency}}</span>
                                </div>
                                <div class="flavor" style="background-color: #2ecc71;">
                                    <strong>Amargo</strong>
                                    <span class="d-flex">{{berry!.flavors[3].potency}}</span>
                                </div>
                                <div class="flavor" style="background-color: #9b59b6;">
                                    <strong>Ácido</strong>
                                    <span class="d-flex">{{berry!.flavors[4].potency}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
