<div class="container mt-5">
    <div class="row mb-4">
        <div class="row justify-content-between align-items-center mb-4">
            <div class="col-md-3 text-start">
                <a href="{{berryId! - 1}}" class="btn btn-outline-light btn-lg d-flex align-items-center justify-content-start">
                    <i class="bi bi-arrow-left-circle"></i>
                    <span class="ms-2">N.º {{berryId! - 1}} </span>
                </a>
            </div>

            <div class="col-md-3 text-end">
                <a href="{{berryId! + 1}}" class="btn btn-outline-light btn-lg d-flex align-items-center justify-content-end">
                    <!--arreglar esto para sumar-->
                    <span class="me-2">N.º {{berryId! + 1}} </span>
                    <i class="bi bi-arrow-right-circle"></i>
                </a>
            </div>
        </div>

        <div class="col-md-8 mx-auto">
            <img src="{{berryItem?.sprites?.default}}" alt="{{berryItem?.name}}" class="berry-image">
        </div>
        <div class="col-md-8">
            <h2 class="mb-3 text-white">{{berryItem?.name}}</h2>
            <p>{{berryItem!.flavor_text_entries[14].text}}</p>
            <div class="d-flex justify-content-between mt-3">
                <div><strong>Tamaño</strong><br>{{berry?.size}}</div>
                <div><strong>Dureza</strong><br>{{berry?.firmness}}</div>
                <div><strong>Consistencia</strong><br>{{berry?.smoothness}}</div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <h5>Efecto</h5>
        <div class="col-md-6 berry-effect-box">
            <h6>En combate</h6>
            <p>{{berryItem!.effect_entries[1].effect}}</p>
        </div>
        <div class="col-md-6 berry-effect-box">
            <h6>Don natural</h6>
            <p>{{berryItem?.fling_effect?.name}}</p>
        </div>
    </div>

    <div class="row">
        <h5>Sabor</h5>
        <div class="berry-flavor-table">
            <div class="flavor" style="background-color: #e74c3c;">
                <strong>Picante</strong>
                <span>{{berry!.flavors[0].potency}}</span>
            </div>
            <div class="flavor" style="background-color: #3498db;">
                <strong>Seco</strong>
                <span>{{berry!.flavors[1].potency}}</span>
            </div>
            <div class="flavor" style="background-color: #f1c40f;">
                <strong>Dulce</strong>
                <span>{{berry!.flavors[2].potency}}</span>
            </div>
            <div class="flavor" style="background-color: #2ecc71;">
                <strong>Amargo</strong>
                <span>{{berry!.flavors[3].potency}}</span>
            </div>
            <div class="flavor" style="background-color: #9b59b6;">
                <strong>Ácido</strong>
                <span>{{berry!.flavors[4].potency}}</span>
            </div>
        </div>
    </div>
</div>