.card {
    background-color: #3a3a3a;
    border: none;
    max-width: 400px;
    align-items: center;
}

.card-title {
    position: absolute; 
    top: -20px; 
    left: 0; 
    font-size: 1.5rem; 
    color: white; 
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    margin-bottom: 1.5rem;
}

.span-text {
    color: rgb(255, 255, 255);
}

.normal-box, .fire-box, .water-box, .grass-box, .electric-box, .ice-box, .fighting-box, .ground-box, .poison-box, .flying-box, .psychic-box, .bug-box, .rock-box, .ghost-box, .dragon-box, .dark-box, .steel-box, .fairy-box{
    padding: 5px 10px;
    width: 85px;
    text-align: center;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    border-radius: 15px;
    border: 1px black;
    
}

.normal-box {
    background-color: #bebdbd;
}

.fire-box {
    background-color: #f80909;
}

.water-box {
    background-color: #2196f3;
}

.grass-box {
    background-color: #02e727;
}

.electric-box {
    background-color: #faca2d;
}

.ice-box {
    background-color: #8fcdff;
}

.fighting-box {
    background-color: #493027;
}

.ground-box {
    background-color: #795548;
}

.poison-box {
    background-color: rgb(77, 12, 97);
}

.flying-box {
    background-color: #667dad;
}

.psychic-box {
    background-color: #db4a8e;
}

.bug-box {
    background-color: #89b15c;
}

.rock-box {
    background-color: #c9a181;
}

.ghost-box {
    background-color: #4c4688;
}

.dragon-box {
    background-color: #5a52a1;
}

.dark-box {
    background-color: #27211f;
}

.steel-box {
    background-color: #bbbbbb;
}

.fairy-box {
    background-color: #dfa2d4;
}

.pagination .page-link {
    color: #fff;
    background-color: #3a3a3a;
    border-color: #3a3a3a;
}

.page-item.active{
    background-color: #ffffff;
    color: #000;
}