
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mb-4 mt-4">
            @for(item of pokemonList; track getPokemonId(item.url)) {
                <a class="text-decoration-none" [href]="getPokemonId(item.url)">
                    <div class=>
                        <div class="d-flex justify-content-between align-items-start mb-1 p-2">
                            <h5 class="text-white mb-0">{{item.name}}</h5>
                            <span class="text-white mb-0">N.º {{getPokemonId(item.url)}}</span>
                        </div>
                        
                    </div>
                </a>
            } 
        </div>
    </div>
</div>