<nav class="navbar navbar-expand-lg py-1">
    <div class="container-fluid">
        <img id="logo" src="assets/logo.png" alt="Pokemon Logo" width="200">
        <div class="navbar-nav me-auto d-flex justify-content-center w-100">
            <a class="nav-link d-flex flex-column align-items-center mx-5" href="#">
                <img src="assets/home.png" width="40">
                <span class="span-text">Home</span>
            </a>
            <a class="nav-link d-flex flex-column align-items-center mx-5" href="#">
                <img src="assets/pokedex.png" width="40">
                <span id="pagina-actual" class="span-text">Pokedex</span>
            </a>
            <a class="nav-link d-flex flex-column align-items-center mx-5" href="#">
                <img src="assets/bayas.png" width="40">
                <span class="span-text">Bayas</span>
            </a>
            <a class="nav-link d-flex flex-column align-items-center mx-5" href="#">
                <img src="assets/movimientos.png" width="40">
                <span class="span-text">Movimientos</span>
            </a>
        </div>
    </div>
</nav>
