.navbar-brand img {
    width: 120px;
}

.nav-link img {
    display: block;
    margin: 0 auto;
}

.navbar-dark .nav-link {
    color: rgb(255, 255, 255);
}

.navbar {
    padding: 10px 20px;
    height: 80px;
    background-color: #000;
}

.navbar-nav a img {
    width: 50px; 
}

#logo {
    margin-left: 2em;
}

#number{
    margin-right: 3.5em;
}