<div class="container pt-4 pb-4">
    <table class="table table-dark">
        <div class="row bg-dark">
            <div class="col-2">NOMBRE</div>
            <div class="col-1">TIPO</div>
            <div class="col-1">CLASE</div>
            <div class="col-1">PODER</div>
            <div class="col-1">PRECISIÓN</div>
            <div class="col-1">PP</div>
            <div class="col-5">DESCRIPCIÓN</div>
        </div>
            @for(item of moveList; track getMoveId(item.url)) {
            <app-move-item [moveId]="getMoveId(item.url)">
              
            </app-move-item>
            }
    </table>
</div>